<!doctype html>
<html>
<head>
    <title>API Requests</title>
</head>
<body bgcolor="#EEEEEE">
<h1 style="color: #5e9ca0;">List of API Endpoints!</h1>
<a href="/"><span style="color: blue; font-size: 20px;">Home Page</span></a>
<h1 style="color: #5e9ca0;">&nbsp; &nbsp; &nbsp; &nbsp;</h1>
<h2 style="color: #2e6c80;">API Endpoint Options:</h2>
<table class="Table" style="border-style: hidden; width: 452px; height: 188px;">
    <tbody>
    <tr style="height: 40px;">
        <td style="width: 188.969px; height: 40px;">View Unique IPs Count Endpoint</td>
        <td style="width: 249.031px; height: 40px;"><a href="/api/unique"><span style="color: blue; font-size: 16px;">/api/unique</span></a></td>
    </tr>
    <tr style="height: 18px;">
        <td style="width: 188.969px; height: 18px;">How Many Rquests per IP Endpoint</td>
        <td style="width: 249.031px; height: 18px;"><a href="/api/requests"><span style="color: blue; font-size: 16px;">/api/requests</span></a></td>
    </tr>
    <tr style="height: 18px;">
        <td style="width: 188.969px; height: 18px;">HTTP Status Code Distribution Endpoint</td>
        <td style="width: 249.031px; height: 18px;"><a href="/api/codes"><span style="color: blue; font-size: 16px;">/api/codes</span></a></td>
    </tr>
    <tr style="height: 40px;">
        <td style="width: 188.969px; height: 40px;">Webpage Popularity Endpoint</td>
        <td style="width: 249.031px; height: 40px;"><a href="/api/webpages"><span style="color: blue; font-size: 16px;">/api/webpages</span></a></td>
    </tr>
    <tr style="height: 36px;">
        <td style="width: 188.969px; height: 36px;">Popular Browsers Endpoint</td>
        <td style="width: 249.031px; height: 36px;"><a href="/api/browsers"><span style="color: blue; font-size: 16px;">/api/browsers</span></a></td>
    </tr>
    <tr style="height: 18px;">
        <td style="width: 188.969px; height: 18px;">Request Method Distribution Endpoint</td>
        <td style="width: 249.031px; height: 18px;"><a href="/api/methods"><span style="color: blue; font-size: 16px;">/api/methods</span></a></td>
    </tr>
    </tbody>
</table>
<p>&nbsp;</p>
</body>
</html>